<section class="map-wrapper">
    <div class="container">
      <div class="map"
            data-module="map"
            data-map-title="The Title of the map"
            data-map-desc="Map"
            data-map-link="http://maps.google.com/XYZ"
            data-lat="53.468135"
            data-lng="-2.282749">
      </div>
  </div>
</section>
