.hero-banner {
  height: 90vh;
  position: relative;
  width: 100%;


  picture {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #00000063;
      z-index: 1;
    }
  }


  @include media("<med") {
    height: 100vh;
    overflow: hidden;
  }

  &__carousel {
    width: 100%;
    height: 100%;
  }

  .carousel-cell {
    width: 100vw;
    height: 100%;
  }


  &__container {
    display: flex;
    height: 100%;
    align-items: center;

  .row:first-child {
    margin-top: auto;
    margin-bottom: auto;
  }
  .row:last-child {
    margin-bottom: $space-3x;
  }

  p {
    color: $white;
    font-weight: 700;
    text-transform: uppercase;
  }
}

    &__bg {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

  &__shape {
    svg {
      width: 100%;
      height: 100%;
    }
  }

  .icon--shape-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 300px;
  }


}
