{#
include 'organisms/site-header.twig' with {
  'title': STRING,
  'icon': STRING,
  'class_list': STRING,
  'has_burger': BOOLEAN,
  'menu' : STRING
}
#}
      {% include 'molecules/contact-show.twig' %}
<header class="site-header" data-module="scroll">
  <div class="container">
    <div class="row row--flex-always">
      <a href="/" class="site-header__logo">
        metro
      </a>
      <a href="#" class="burger-nav-button site-header__burger" data-module="burgernav">
        <i></i>
        <i class="middle-burger"></i>
        <i></i>
      </a>
      <div class="site-header__menu">
        {% include 'molecules/nav.twig' %}
      </div>

      <div class="site-header__cta">
        {% include 'molecules/nav-cta.twig' %}
      </div>
    </div>
  </div>
</header>
